<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="https://www.thenewstnp.com/favicon.ico" type="image/x-icon">
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src={{script}}></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
