<nav class="wrap">
    <div class="content">
        <ul>
            <li>
                <a href="/register">注册</a>
            </li>
            <li>
                <a href="/login">登录</a>
            </li>
            <li>
                <a href="/">首页</a>
            </li>
        </ul>
    </div>
</nav>
<div class="form login_form">
    <div class="error">
        <span></span>
    </div>
    <div>
        <label for="">用户名：</label>
    </div>
    <div>
        <input type="text" id="login_username" class="form_item" placeholder="请输入用户名">
    </div>
    <div>
        <label for="">密码：</label>
    </div>
    <div>
        <input type="password" id="login_password" class="form_item" placeholder="请输入密码">
    </div>
    <div>
        <input type="button" value="登录" id="login_btn">
    </div>
    <div>
        <input type="button" value="没有账号？注册" class="btn">
    </div>
</div>