<nav class="wrap">
    <div class="content">
        <ul>
            <li>
                <a href="/register">注册</a>
            </li>
            <li>
                <a href="/login">登录</a>
            </li>
            <li>
                <a href="/">首页</a>
            </li>
        </ul>
    </div>
</nav>
<div class="form reg_form">
    <div class="error">
        <span></span>
    </div>
    <div>
        <label for="">用户名：</label>
    </div>
    <div>
        <input type="text" id="reg_username" class="form_item" placeholder="请输入用户名">
    </div>
    <div>
        <label for="">密码：</label>
    </div>
    <div>
        <input type="password" id="reg_password" class="form_item" placeholder="请输入密码">
    </div>
    <div>
        <label for="">重复密码：</label>
    </div>
    <div>
        <input type="password" id="reg_rePassword" class="form_item" placeholder="请再次输入密码">
    </div>
    <div>
        <input type="button" value="注册" id="reg_Btn">
    </div>
    <div>
        <input type="button" value="已有账号？登录" class="btn">
    </div>
</div>