body{
  background: rgb(184, 229, 248) url(https://static.zhihu.com/heifetz/sign_bg.db29b0fbd2f78dd8c1b7.png) 0 0 no-repeat;
}
.form{
  width: 360px;
  height: 380px;
  background: rgba(0, 0, 0, .7);
  color: #fff;
  padding: 20px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
}
.reg_form{
  height: 480px;
}

.form div{
  margin-bottom: 15px;
}

.form input{
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 10px;
  border: 1px solid rgb(82, 89, 97);
  outline: none;
  font-size: 14px;
  color: #fff;
  background: rgb(5, 14, 23);
}

.form .form_item:hover{
  border-color: rgb(230, 230, 230);
}

.form .error{
  width: 100%;
  height: 30px;
  display: none;
}

.form .error span{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 30px;
  color: #ff0000;
  font-size: 14px;
}

#login_btn,#reg_Btn{
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: rgb(255, 0, 51);
  color: #fff;
  letter-spacing: 2px;
  margin-top: 10px;
  font-size: 16px;
  padding: 0;
}

#login_btn:hover,#reg_Btn:hover{
  background: crimson;
}

.form .btn{
  background: rgb(14, 134, 202);
  border: 1px solid rgb(0, 174, 255);
  margin-top: 20px;
  height: 34px;
  cursor: pointer;
}
.form .btn:hover{
  background: rgb(0, 174, 255);
  border: 1px solid rgb(14, 134, 202);
}

.wrap{
  width: 100%;
  min-width: 1220px;
  height: 40px;
  background: rgba(0, 0, 0, .7);
}

.content{
  width: 80%;
  height: 100%;
  /* background: red; */
  margin: 0 auto;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
  line-height: 40px;
  float: right;
}
ul li a{
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  margin-left: 10px;
}
ul li a:hover{
  color: #ff0000;
}